

<header class="header-st-1">
    <div class="topbar sticky white-bg">
      <div class="container">
        <div class="row">
          <div class="col-md-2 col-sm-4 mobile-dis">
            <div class="logo">
              <a href="/home">
                <img src="../assets/images/dmb_logo.png" alt="logo" style="width: 120px; height: 60px;" />              
              </a>
            </div> <!-- ../logo -->
          </div>
          <div class="col-md-10 col-sm-12 col-xs-12">
            <div class="menu-container clearfix">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="nav-header mobile-show">
                <button type="button" class="nav-toggle">
                  <i class="fa fa-bars"></i>
                </button>
                <div class="mobile-logo">
                  <a href="gym.html">
                    <img src="../assets/images/logo.png" alt="logo" />
                  </a>
                </div> <!-- ../logo -->
              </div>
              <ul class="list-style-none menu pull-right">
                <li><a href="#home">Home</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#gallery">Gallery</a></li>
                <li><a href="#team">Team</a></li>
                <li><a href="#package">Package</a></li>
                <li><a href="#testimonials">Testimonials</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div><!-- ../menu-container -->
          </div>
        </div>
      </div>
    </div>
    <div class="top-bar-recover"></div>
    <!-- =============== ../Section Banner =============== -->
    <div id="home" class="section-banner-st-1">
      <div class="banner-text ">
        <div class="container-flex">
  
          <carousel [isAnimated]="true">                      
            <slide>
              <img src="../../assets/images/banner-slider/rev-slide-7.jpg" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <!-- <h3 class="banner-h1"><span class="text-primary-color">workout</span> time</h3> -->
                <h2 class=""> <strong>DMB</strong> <span style="color: gold;"> GLOW </span> </h2>
                <h3> THE NEWEST <span style="color: gold;">HYDRAFACIAL</span>  </h3>
                <h4 > A SOLUTION TO DEEP-CLEAN PORES</h4>
                <a href="#" class="btn btn-effect-1 btn-primary">explore</a>
                <a href="#" class="btn btn-effect-1 btn-overlay-effect btn-default mr-rgt-20">Book Appointment</a>
              </div>
            </slide>
            <slide>
              <img src="../../assets/images/banner-slider/rev-slide-8.jpg" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <!-- <h3 class="banner-h1"><span class="text-primary-color">workout</span> time</h3> -->
                <h1 class=""> <strong>"PERMANENT BEAUTY. </strong> 
                  <br />
                  <span style="color: gold;"> FLAWLESS YOU." </span> </h1>
                <!-- <h4> THE NEWEST <span style="color: gold;">HYDRAFACIAL</span>  </h4>
                <h5 > A SOLUTION TO DEEP-CLEAN PORES</h5> -->
                <a href="#" class="btn btn-effect-1 btn-primary">explore</a>
                <a href="#" class="btn btn-effect-1 btn-overlay-effect btn-default mr-rgt-20">Book Appointment</a>
              </div>
            </slide>
            <slide>
              <img src="../../assets/images/banner-slider/rev-slide-8.jpg" style="display: block; width: 100%;">
              <div class="carousel-caption d-none d-md-block">
                <!-- <h3 class="banner-h1"><span class="text-primary-color">workout</span> time</h3> -->
                <h4 class=""> <strong>"primelase HR. </strong> 
                  <br />
                  <span style="color: gold;"> FLAWLESS YOU." </span> </h4>
                <h2> FULL BODY HAIR REMOVAL  </h2>
                <h3 > IN 30 MINUTES</h3>
                <a href="#" class="btn btn-effect-1 btn-primary">explore</a>
                <a href="#" class="btn btn-effect-1 btn-overlay-effect btn-default mr-rgt-20">Book Appointment</a>
              </div>
            </slide>
          </carousel>
  
          <!-- <div class="row">
            <div class="col-md-12">
              <h1 class="banner-h1"><span class="text-primary-color">workout</span> time</h1>
              <h2 class="banner-h2">special classes</h2>
              <a href="#" class="btn btn-effect-1 btn-overlay-effect btn-default mr-rgt-20">explore</a>
              <a href="#" class="btn btn-effect-1 btn-primary">read more</a>
            </div>
          </div> -->
        </div>
      </div>
    </div>
    <!-- =============== ../Section Banner =============== -->
  </header>
  <!-- =============== ../Header =============== -->
  <!-- =============== Main =============== -->
  <main>
    <!-- =============== ../Section Services =============== -->
    <section id="services" class="section section-services-st-1 pad-top-80 pad-bottom-50">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-4 col-xs-12 service-box text-center">
            <div class="service-box-inner">
              <div class="services-icon">
                <img src="../assets/images/icons/icon-services.png" alt="icon-services" />
              </div>
              <div class="services-title">
                <h4>SKIN REJUVENATION</h4>
              </div>
              <div class="services-descrip">
                <ul class="list-group">
                  <li class="list-group-item ser-evnt"> <a href="#" >DMB ANTI-WRINKLE</a> </li>
                  <li class="list-group-item ser-evnt"> <a href="#" >DMB CLEAR</a> </li>
                  <li class="list-group-item ser-evnt"> <a href="#" >DMB SCAR FREE</a> </li>
                  <li class="list-group-item ser-evnt"> <a href="#" >STRETCH MARKS REMOVAL</a> </li>                 
                </ul>               
              </div>
            </div>
          </div><!-- ../service-box -->
          <div class="col-md-4 col-sm-4 col-xs-12 service-box text-center">
            <div class="service-box-inner">
              <div class="services-icon">
                <img src="../assets/images/icons/icon-services.png" alt="icon-services" />
              </div>
              <div class="services-title">
                <h4>SKIN TIGHTENING</h4>
              </div>
              <div class="services-descrip">
                <ul class="list-group">
                  <li class="list-group-item ser-evnt"> <a href="#" >DMB FACE LIFT</a> </li>
                  <li class="list-group-item ser-evnt"> <a href="#" >DMB NECK LIFT</a> </li>
                  <li class="list-group-item ser-evnt"> <a href="#" >DMB TUMMY TITE</a> </li>
                  <li class="list-group-item ser-evnt"> <a href="#" >BINGO WINGS</a> </li>
                  <li class="list-group-item ser-evnt"> <a href="#" >DMB BUTT LIFT</a> </li>                 
                </ul>    
              </div>
            </div>
          </div><!-- ../service-box -->
          <div class="col-md-4 col-sm-4 col-xs-12 service-box text-center">
            <div class="service-box-inner">
              <div class="services-icon">
                <img src="../assets/images/icons/icon-services.png" alt="icon-services" />
              </div>
              <div class="services-title">
                <h4>PRIMELASE HAIR REMOVAL</h4>
              </div>
              <div class="services-descrip">
                <ul class="list-group">
                  <li class="list-group-item ser-evnt"> <a href="#" >POWER OF 4 WAVELENGTHS</a> </li>
                  <li class="list-group-item ser-evnt"> <a href="#" >VIRTUALLY PAINLESS</a> </li>
                  <li class="list-group-item ser-evnt"> <a href="#" >ALL SKIN & HAIR TYPES</a> </li>
                  <li class="list-group-item ser-evnt"> <a href="#" >QUICK TREATMENT</a> </li>                 
                  <li class="list-group-item ser-evnt"> <a href="#" >PROVEN SAFETY RECORD</a> </li>                 
                </ul>    
              </div>
            </div>
          </div><!-- ../service-box -->
        </div>
      </div>
    </section>
    <!-- =============== ../Section Services =============== -->
    <!-- =============== ../Section Video =============== -->
    <section id="work" class="section section-video">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-12 mr-bottom-30">
            <div class="video-box">
              <div class="video-thumb">
                <img src="../assets/images/video-img.jpg" class="img-responsive" alt="video-img" />
                <a href="https://vimeo.com/153021511" class="anchor-overlay overlay popup-vimeo">
                  <span class="play-icon">
                    <i class="fa fa-play" aria-hidden="true"></i>
                  </span>
                </a>
              </div>
            </div><!-- ../video-box -->
          </div>
          <div class="col-md-6 mr-bottom-30">
            <div class="video-content ">
              <div class="video-title">
                <h3>We offer a wide variety of treatment to achieve the best results</h3>
              </div>
              <div class="video-descrip">
                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam quis notrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conquat Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </p>
              </div>
              <div class="video-link">
                <a href="#" class="btn btn-effect-1 btn-overlay-effect btn-default">read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- =============== ../Section Video =============== -->
    <!-- =============== Section Gallery =============== -->
    <section id="gallery" class="section section-gallery clearfix pad-top-20">
        <div class="section-title section-title-st-1">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <h1>Workout <span class="red-parimary-color">of the Day</span></h1>
              </div>
            </div>
          </div>
        </div>
        <div class="section-content popup-gallery clearfix">
          <div class="masornay-box">
            <div class="masornay-thumb">
              <img src="../assets/images/gallery/gallery-thumb1.jpg" alt="gallery-thumb1" class="img-responsive" />
              <a href="../assets/images/gallery/gallery-thumb1.jpg" class="overlay ">
                <span class="search-icon overlay-2nd overlay-bg-main">
                  <i class="fa fa-search"></i>
                </span>
              </a>
            </div>
          </div><!-- ../masornay-box -->
          <div class="masornay-box ">
            <div class="masornay-thumb">
              <img src="../assets/images/gallery/gallery-thumb2.jpg" alt="gallery-thumb2" class="img-responsive" />
              <a href="../assets/images/gallery/gallery-thumb2.jpg" class="overlay ">
                <span class="search-icon overlay-2nd overlay-bg-main">
                  <i class="fa fa-search"></i>
                </span>
              </a>
            </div>
          </div><!-- ../masornay-box -->
          <div class="masornay-box">
            <div class="masornay-thumb">
              <img src="../assets/images/gallery/gallery-thumb3.jpg" alt="gallery-thumb3" class="img-responsive" />
              <a href="../assets/images/gallery/gallery-thumb3.jpg" class="overlay ">
                <span class="search-icon overlay-2nd overlay-bg-main">
                  <i class="fa fa-search"></i>
                </span>
              </a>
            </div>
          </div><!-- ../masornay-box -->
          <div class="masornay-box">
            <div class="masornay-thumb">
              <img src="../assets/images/gallery/gallery-thumb4.jpg" alt="gallery-thumb4" class="img-responsive" />
              <a href="../assets/images/gallery/gallery-thumb4.jpg" class="overlay ">
                <span class="search-icon overlay-2nd overlay-bg-main">
                  <i class="fa fa-search"></i>
                </span>
              </a>
            </div>
          </div><!-- ../masornay-box -->
          <div class="masornay-box">
            <div class="masornay-thumb">
              <img src="../assets/images/gallery/gallery-thumb5.jpg" alt="gallery-thumb5" class="img-responsive" />
              <a href="../assets/images/gallery/gallery-thumb5.jpg" class="overlay ">
                <span class="search-icon overlay-2nd overlay-bg-main">
                  <i class="fa fa-search"></i>
                </span>
              </a>
            </div>
          </div><!-- ../masornay-box -->
          <div class="masornay-box">
            <div class="masornay-thumb">
              <img src="../assets/images/gallery/gallery-thumb6.jpg" alt="gallery-thumb6" class="img-responsive" />
              <a href="../assets/images/gallery/gallery-thumb6.jpg" class="overlay ">
                <span class="search-icon overlay-2nd overlay-bg-main">
                  <i class="fa fa-search"></i>
                </span>
              </a>
            </div>
          </div><!-- ../masornay-box -->
          <div class="masornay-box">
            <div class="masornay-thumb">
              <img src="../assets/images/gallery/gallery-thumb7.jpg" alt="gallery-thumb7" class="img-responsive" />
              <a href="../assets/images/gallery/gallery-thumb7.jpg" class="overlay ">
                <span class="search-icon overlay-2nd overlay-bg-main">
                  <i class="fa fa-search"></i>
                </span>
              </a>
            </div>
          </div><!-- ../masornay-box -->
          <div class="masornay-box ">
            <div class="masornay-thumb">
              <img src="../assets/images/gallery/gallery-thumb8.jpg" alt="gallery-thumb8" class="img-responsive" />
              <a href="../assets/images/gallery/gallery-thumb8.jpg" class="overlay ">
                <span class="search-icon overlay-2nd overlay-bg-main">
                  <i class="fa fa-search"></i>
                </span>
              </a>
            </div>
          </div><!-- ../masornay-box -->
        </div>
    </section>
    <!-- =============== ../Section Gallery =============== -->
    <!-- =============== Section Team =============== -->
    <section id="team" class="section section-team-st-1 clearfix">
      <div class="section-title section-title-st-1">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1>our <span class="red-parimary-color"> doctors</span></h1>
            </div>
          </div>
        </div>
      </div> <!-- ../section-title -->
      <div class="section-content">
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 team-box">
              <div class="team-box-inner">
                <div class="team-thumb">
                  <img src="../assets/images/team/team1.jpg" alt="team1" class="img-responsive" />
                  <div class="overlay">
                    <div class="overlay-2nd overlay-bg-main">
                      <div class="team-info text-center">
                        <div class="team-name">
                          <h4>Alexande</h4>
                        </div>
                        <div class="team-position">
                          <h5>trainer</h5>
                        </div>
                        <div class="team-social">
                          <ul class="social-rounded social-icon">
                            <li>
                              <a href="#">
                                <i class="fa fa-twitter"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="fa fa-facebook"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="fa fa-google-plus"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- ../team-box -->
            <div class="col-md-3 col-sm-6 col-xs-12 team-box ">
              <div class="team-box-inner">
                <div class="team-thumb">
                  <img src="../assets/images/team/team2.jpg" alt="team12" class="img-responsive" />
                  <div class="overlay">
                    <div class="overlay-2nd overlay-bg-main">
                      <div class="team-info text-center">
                        <div class="team-name">
                          <h4>Alexande</h4>
                        </div>
                        <div class="team-position">
                          <h5>trainer</h5>
                        </div>
                        <div class="team-social">
                          <ul class="social-rounded social-icon">
                            <li>
                              <a href="#">
                                <i class="fa fa-twitter"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="fa fa-facebook"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="fa fa-google-plus"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- ../team-box -->
            <div class="col-md-3 col-sm-6 col-xs-12 team-box">
              <div class="team-box-inner">
                <div class="team-thumb">
                  <img src="../assets/images/team/team1.jpg" alt="team1" class="img-responsive" />
                  <div class="overlay">
                    <div class="overlay-2nd overlay-bg-main">
                      <div class="team-info text-center">
                        <div class="team-name">
                          <h4>Alexande</h4>
                        </div>
                        <div class="team-position">
                          <h5>trainer</h5>
                        </div>
                        <div class="team-social">
                          <ul class="social-rounded social-icon">
                            <li>
                              <a href="#">
                                <i class="fa fa-twitter"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="fa fa-facebook"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="fa fa-google-plus"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- ../team-box -->
            <div class="col-md-3 col-sm-6 col-xs-12 team-box ">
              <div class="team-box-inner">
                <div class="team-thumb">
                  <img src="../assets/images/team/team2.jpg" alt="team2" class="img-responsive" />
                  <div class="overlay">
                    <div class="overlay-2nd overlay-bg-main">
                      <div class="team-info text-center">
                        <div class="team-name">
                          <h4>Alexande</h4>
                        </div>
                        <div class="team-position">
                          <h5>trainer</h5>
                        </div>
                        <div class="team-social">
                          <ul class="social-rounded social-icon">
                            <li>
                              <a href="#">
                                <i class="fa fa-twitter"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="fa fa-facebook"></i>
                              </a>
                            </li>
                            <li>
                              <a href="#">
                                <i class="fa fa-google-plus"></i>
                              </a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div><!-- ../team-box -->
          </div>
        </div>
      </div><!-- ../section-content -->
    </section>
    <!-- =============== ../Section Team =============== -->
    <!-- =============== Section package =============== -->
    <section id="package" class="section section-package">
      <div class="overlay overlay-bg-secondary"></div>	
      <div class="package-content">
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 package-box">
              <div class="package-box-inner text-center clearfix">
                <div class="package-upper">
                  <div class="package-title">
                    <h1>Basic</h1>
                  </div>
                  <div class="package-price">
                    <h1><span>$</span>16</h1>
                  </div>
                </div>
                <div class="package-inner-content">
                  <ul class="conent-list-style">
                    <li>First Description</li>
                    <li>Second Description</li>
                    <li>Third Description</li>
                  </ul>
                  <div class="package-link">
                    <a href="#" class="btn btn-effect-1 btn-secondary">PURCHASE NOW</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 package-box">
              <div class="package-box-inner text-center clearfix">
                <div class="package-upper">
                  <div class="package-title">
                    <h1>normal</h1>
                  </div>
                  <div class="package-price">
                    <h1><span>$</span>28</h1>
                  </div>
                </div>
                <div class="package-inner-content">
                  <ul class="conent-list-style">
                    <li>First Description</li>
                    <li>Second Description</li>
                    <li>Third Description</li>
                  </ul>
                  <div class="package-link">
                    <a href="#" class="btn btn-effect-1 btn-secondary">PURCHASE NOW</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 package-box">
              <div class="package-box-inner text-center clearfix">
                <div class="package-upper">
                  <div class="package-title">
                    <h1>Gold</h1>
                  </div>
                  <div class="package-price">
                    <h1><span>$</span>40</h1>
                  </div>
                </div>
                <div class="package-inner-content">
                  <ul class="conent-list-style">
                    <li>First Description</li>
                    <li>Second Description</li>
                    <li>Third Description</li>
                  </ul>
                  <div class="package-link">
                    <a href="#" class="btn btn-effect-1 btn-secondary">PURCHASE NOW</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- =============== ../Section package =============== -->
  
  
  
    <!-- =============== Section Testimonials =============== -->
    <section id="testimonials" class="section section-testimonials ">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <carousel>
              <slide>
                <div class="text-center py-5 text-white">
                  <h2>First custom content</h2>
                  <div class="lead">
                    <h3>First slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                  </div>
                </div>
              </slide>
              <slide>
                <div class="text-center py-5 bg-dark text-white">
                  <h2>Second custom content</h2>
                  <div class="lead">
                    <h3>Second slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
                  </div>
                </div>
              </slide>
              <slide>
                <div class="text-center py-5 bg-dark text-white">
                  <h2>Third custom content</h2>
                  <div class="lead">
                    <h3>Third slide label</h3>
                    <p>Nulla vitae elit libero, a pharetra augue mollis interdum. </p>
                  </div>
                </div>
              </slide>
            </carousel>
          </div>
        </div>
      </div>
    </section>
    <!-- =============== ../Section Testimonials =============== -->
    <!-- =============== Section Partners =============== -->
   
    <!-- =============== ../Section Partners =============== -->
    <!-- =============== Section Subscribe =============== -->
    <section id="contact" class="section section-subscribe section-subscribe-st-1">
      <div class="container">
        <div class="row">
          <div class="col-md-5 subscribe-content">
            <div class="subscribe-content-inner">
              <h3 class="title-main-color">SUBSCRIBaE TO OUR NEWSLETTER</h3>
              <p class="text-uppercase">We will let you know all our awesome offers</p>
            </div>
          </div>
          <div class="col-md-7 subscribe-form">
            <div class="subscribe-form-inner">
              <form class="form-inline pull-right">
                <div class="form-group">
                  <input type="email" class="form-control" id="Email" placeholder="Enter Your Email Address">
                </div>
                <button type="submit" class="btn btn-effect-1 btn-overlay-effect btn-third">SUBSCRIBE</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- =============== ../Section Subscribe =============== -->
  </main>
  <!-- =============== ../Main =============== -->
  <!-- =============== Footer =============== -->
  <footer class="footer footer-st-1">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="ft-social-row mr-bottom-30">
            <ul class="social-default social-icon">
              <li>
                <a href="#">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="ft-credit-row">
            <p>© 2021, All Rights Reserved, Developed by <a href="#">DMB-MKB</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- =============== ../Footer =============== -->
  
  
  
  
  